$mainColor: #a954ee;
$secondaryColor: #5c55f0;
$accent: #ee54e6;
$gradient: linear-gradient(90deg, rgba(169, 84, 238, 1) 0%, rgba(92, 85, 240, 1) 100%);

$pageWidth: 1150px;
$contentPadding: 0 20px;
$contentMargin: 0 20px;