* {
    box-sizing: border-box;
    margin: 0;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3,
p,
div {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

label,
span {
    font-size: 16px;
}

h1,
h2,
h3,
p,
div,
span,
label,
input,
textarea {
    font-family: "Basic", sans-serif;
    cursor: default;
}

i {
    &::selection {
        background-color: none;
    }
}

@for $margin from 1 to 10 {
    .ma-#{$margin} {
        margin: #{$margin * 3}px !important;
    }
    .mb-#{$margin} {
        margin-bottom: #{$margin * 3}px !important;
    }
    .mt-#{$margin} {
        margin-top: #{$margin * 3}px !important;
    }
    .mr-#{$margin} {
        margin-right: #{$margin * 3}px !important;
    }
    .ml-#{$margin} {
        margin-left: #{$margin * 3}px !important;
    }
}

@for $padding from 1 to 10 {
    .pa-#{$padding} {
        padding: #{$padding * 3}px !important;
    }
    .pb-#{$padding} {
        padding-bottom: #{$padding * 3}px !important;
    }
    .pt-#{$padding} {
        padding-top: #{$padding * 3}px !important;
    }
    .pr-#{$padding} {
        padding-right: #{$padding * 3}px !important;
    }
    .pl-#{$padding} {
        padding-left: #{$padding * 3}px !important;
    }
}

.cp {
    cursor: pointer;
}

.pr {
    position: relative;
}

.btn {
    transition: all 0.2s;
    background: $gradient;
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    &:hover {
        border: 1px solid $accent;
    }
}

.btn--transparent {
    transition: all 0.2s;
    border: none;
    width: 100%;
    border-radius: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $mainColor;
    cursor: pointer;
    &:hover {
        background-color: #8080800d;
    }
}

.btn--auto {
    width: auto;
}

.btn--small {
    height: 30px;
    padding: 0 5px;
}

.input__main {
    transition: all 0.2s;
    height: 50px;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid $mainColor;
    border-radius: 10px;
    width: 100%;
    &:focus {
        border: 2px solid $accent;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.login__form,
.signup__form {
    padding: 0 30px 11px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
        display: block;
        text-align: left;
        margin-bottom: 5px;
    }
}

.input__container--right {
    display: flex;
    justify-content: end;
}

.input__box {
    margin-bottom: 20px;
    width: 100%;
    &.input__box--small {
        width: 150px;
        margin: 0;
    }
}

input[type="number"] {
    appearance: textfield;
}

.text--white {
    color: white;
}

.divider {
    width: 2px;
    background-color: $secondaryColor;
    height: 200px;
}

.horizontal--divider {
    width: 100%;
    background-color: $secondaryColor;
    margin: 20px 0;
    height: 2px;
}

.wrap--text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.amount--less {
    color: $mainColor;
}

.text--end {
    text-align: end;
}

.d-flex {
    display: flex;
    .column {
        flex: 1;
    }
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.material-icons {
    color: #606060;
}

.material-icons.icon--xsmall {
    font-size: 18px;
}

.material-icons.icon--big {
    font-size: 40px;
}

.material-icons.icon--white {
    color: white;
}

.actions--container {
    display: flex;
    justify-content: end;
    div {
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.link__inline {
    font-size: 24px;
    position: relative;
    &::after {
        transition: all 0.2s;
        content: "";
        display: block;
        background-color: $accent;
        position: absolute;
        bottom: -10px;
        height: 4px;
        width: 0%;
        margin-top: 6px;
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
}

.info--data {
    background-color: #8080802b;
    padding: 30px;
    border-radius: 4px;
}

.account--name {
    transition: all 0.1s;
    padding: 10px;
    background-color: $mainGray;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: $mainShadow;
    &.active {
        background-color: $mainColor;
        color: white;
    }
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select {
    background: transparent;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #8080806e;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .modal__card {
        max-height: 90vh;
        margin: 20px;
        min-width: 50%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.card__title {
    padding: 30px 30px 0px 30px;
}
.card__content {
    height: 100%;
    margin: 20px 0;
    padding: 0 30px;
    overflow: auto;
}
.card__actions {
    display: flex;
    justify-content: end;
    padding: 0 30px 30px 30px;
    button {
        max-width: 200px;
    }
}

.loading__box {
    position: absolute;
    bottom: -20px;
    background-color: #00000021;
    width: 100%;
    height: 100px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.mx-table.mx-table-date {
    div {
        font-size: 16px;
    }
}

.mx-datepicker.mx-datepicker-range {
    display: block;
}
